& when (@media-common = true) {


    .myshop-product-data {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        width: 100%;

        &-details {
            width: 50%;
            padding: 0 50px;

            .myshop-product-data-card{
                &__title{
                    font-size: 40px;
                    font-family: @myshop-main-font;
                    font-weight: 300;
                }

                &__sku{
                    font-size: 13px;
                    color: gray;
                    font-weight: 300;
                    font-family: @myshop-main-font;
                }

                &__price{
                    font-size: 22px;
                    font-weight: 700;
                    font-family: @myshop-main-font;
                    margin-top: 20px;
                }

                &__details{
                    p:nth-child(odd){
                        color: red;
                    }
                }

            }

        }

        &-image {

            width: 50%;

            img {
                border-radius: 30px;
                width: 100%;
                object-fit: cover;
            }
        }


    }



    .myshop-product-description{
        background-color: yellowgreen;
        font-size: 20px;
        font-weight: 300;
        color: gray;
        font-family: @myshop-main-font;
        margin-bottom: 30px;
    }

}


#popup-information{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display: none;

    .popup-box{
        background-color: white;
        max-width: 500px;
        height: 350px;
        padding: 20px 50px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0 ,0.6);
        border-radius: 10px;
    }

    .more-info{
        width: 100%;
        height: 100%;
        position: relative;

        &__title{
            color: @font-color-main;
            font-size: 30px;
            font-family: @myshop-main-font;
            font-weight: 300;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        &__row{
            display: flex;
            justify-content: start;
            margin: 20px 0;
        }

        &__label{
            font-size: 16px;
            font-weight: 700;
            font-family: @myshop-main-font;
            width: 20%;
        }

        &__value{
            font-size: 14px;
            font-weight: 300;
            font-family: @myshop-main-font;
        }

        &__close{
            margin: auto;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 5%;
            width: 100%;

            button{
                background-color: #2e6d86;
                color: white;
                border-radius: 15px;
                border: none;
                width: 150px;
                height: 40px;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
    }
}









