<div class="sku-lookup">

<!--    <h3><translate args="'SKU LookUp'"/></h3>-->
<!--    <h4 translate="'SKU LookUp'"></h4>-->
    <h5 data-bind="i18n: 'SKU LookUp'"></h5> <!-- BEST WAY -->

    <form data-bind="submit: handleSubmit">
        <input type="text" id="sku" name="sku" data-bind="textInput: sku, attr:{ placeholder:placeholder }"  />
        <button class="action primary" type="submit" > <!-- ko i18n: 'Confirm SKU' --> <!-- /ko --></button>
        <div class="message-response" data-bind="html: messageResponse,style:{color: isSuccess() ? 'green' : 'red'}"></div>
    </form>

</div>
